<%- include("partials/header.ejs") %>

<section id="creator">
    <h1>Meet the Creator</h1>
    <p><strong>Name:</strong> Felice Anggie Sirait</p>

    <p><strong>Title:</strong> Blogger & Creator</p>

    <p><strong>Bio:</strong> Hallo there... 👋 I'm Felice, the heart and soul behind this blog. 
    With a passion for wanting to create a place for stories and memories to be shared, I started this blog for those of you who want to share important insights, stories, and experiences.
    From writing articles to managing the site, I handle it all, ensuring that every piece of content reflects my personal touch and dedication.</p>

    <p><strong>Why I Started This Blog:</strong> I wanted to create a space where I could freely express my thoughts and connect with like-minded individuals. 
    This blog is not just a project; it's a reflection of my journey, and I’m thrilled to share it with you.</p>

</section>

<%- include("partials/footer.ejs") %>